.body {
    height: 100vh;
    background-color: white;
}

.bg {
    background-image: url('./image.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 5px solid white; */
}

.context {
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}